.button-solid {
  background-size: 100%;
  font-weight: $bold;

  &.button-orange {
    background-image: $gradient-orange;
  }

  &.button-green {
    background-image: $gradient-green; 
  }

  &.button-grey {
    background: $light-grey;
    color: #666666;
  }

  &.button-white {
    background: $white !important;
    color: $orange;
  }

  &.disabled,
  &:disabled {
    cursor: auto;
    background: $hover-grey;
    color: #9e9e9e;
  }
}

.button-dashed {
  font-weight: $bold;

  &:hover {
    background-color: unset;
  }

  &.button-orange {
    border: solid 1px $orange;
    color: $orange;

    &:hover {
      background-image: $gradient-orange;
      color: $white;
    }
  }

  &.disabled,
  &:disabled {
    border-color: #9e9e9e !important;
    color: #9e9e9e !important;
    cursor: auto;
  }
}