.c-rating-card{
    @include padding-s(25px, 18px);
    @include border-radius(15px);

    height: 225px;  
    margin-bottom: 30px;

    .heading{
        font-size: $font-sm;
        margin-top: 15px;
        font-weight: $semi-bold;
        
        max-width: 280px;
        word-wrap: break-word;
        overflow: hidden;

        position: relative;
        line-height: 1em;
        height: 1em;

        &::after{
            content: '';
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20%;
            height: 1em;
            background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 50%)
        }
    }

    .rating{
        @include margin(8px, 0, 15px, 0);
    }

    .review{
        height: 82px;
        overflow-y: auto;
    }

    .pos-rating, .neg-rating{
        font-size: $font-xs;
    }

    .font-sm{
        font-size: $card-sm;
    }

    .row{
        padding:  0;
    }
}